._signFormLayout {
    min-width: 520px;

    &__ {
        &content {
            width: 480px;
        }
        &caption  {
            text-align: center;
        }
        &form {
            width: 320px;
            display: flex;
            align-items: stretch;
            margin: 0 auto;
            text-align: center;
        }
        &bg {
        }
    }
}
/* пока не придумал как управлять порядком подключения стилей 
и приходится использоват такие конструкции */
.caption._signFormLayout__caption  { 
    padding: 15px 0 10px;
}
