$secondary-color: lightgray;

.button {
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 8px;
    padding: 8px 10px;
    font-size: 13px;
    font-weight: 400;
    margin: 0;
    border: none;
    cursor: pointer;

    &:hover {
    }

    &__ {
        &icon {            
        }
        &label {
        }
    }
    &-- {
        &importance_ {
            &primary {
                background: black;
                color: white;
            }
            &seconadary {
                background: $secondary-color;
                color: black;
            }
        }
        &size_ {
            &big {
                padding: 10px 18px;
                font-size: 16px;
            }
        }
        &width_ {
            &full {
                width: 100%;
            }
        }
    }
}
