<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <title>Авторизация</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <!-- ################## Шаблон ################## -->

        <!-- шрифты -->
        <!-- ... -->

        <!-- css-библиотеки -->
        <!-- ... -->

        <!-- стили -->
        <link rel="stylesheet" href="draft.css" />
        <style type="text/css">
        </style>

        <!-- js-библиотеки -->
        <!-- ... -->

        <!-- скрипты -->
        <script type="text/javascript">
        </script>

        <!-- ################## Страница ################## -->
        
        <!-- шрифты -->
        <!-- ... --> 
        
        <!-- css-библиотеки -->
        <!-- ... -->
        
        <!-- стили -->      
        <!-- ... -->
        
        <!-- js-библиотеки -->
        <!-- ... -->
        
        <!-- скрипты -->
        <!-- ... -->
    </head>

    <body class="_surApp _signFormLayout _pageAuth">        
        <main class="_surApp__workarea">
            <div class="icontainer icontainer--bg_glass icontainer--dropshadow icontainer--size_big _signFormLayout__content _pageAuth__content">
                <div class="icontainer__header">
                    <h1 class="caption _signFormLayout__caption">
                        <span class="caption__headline caption__headline--size_h1">Авторизация</span>
                    </h1>
                </div>
                <div class="icontainer__content">
                    <form action="" class="form _signFormLayout__form">                        
                        <div class="form__fieldBox">
                            <div class="form__fieldLabelWrap">
                                <label class="form__fieldLabel">Логин:</label>
                            </div>
                            <div class="form__fieldWrap">
                                <div class="form__field inputText">
                                    <input type="text" class="inputText__input" name="first_name" placeholder="" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="form__fieldBox">
                            <div class="form__fieldLabelWrap">
                                <label class="form__fieldLabel">Пароль:</label>
                            </div>
                            <div class="form__fieldWrap">
                                <div class="form__field inputText">
                                    <input type="password" class="inputText__input" name="phone" placeholder="" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="form__buttonsBox">
                            <!-- Пока кнопка сделана ссылкой для навигации -->
                            <a href="/chats/" class="form__submitButton button button--importance_primary button--size_big button--width_full">Авторизоваться</a>
                            <a href="/registration/" class="form__altSubmitLink link link--size_big">создать аккаунт</a>
                        </div>
                    </form>
                </div>
            </div>
        </main>  
        <div class="_surApp__background _surApp__background--bg_image _signFormLayout__bg"></div>      
    </body>
</html>