<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <title>Регистрация</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <!-- ################## Шаблон ################## -->

        <!-- шрифты -->
        <!-- ... -->

        <!-- css-библиотеки -->
        <!-- ... -->

        <!-- стили -->
        <link rel="stylesheet" href="draft.css" />
        <style type="text/css">
        </style>

        <!-- js-библиотеки -->
        <!-- ... -->

        <!-- скрипты -->
        <script type="text/javascript">
        </script>

        <!-- ################## Страница ################## -->
        
        <!-- шрифты -->
        <!-- ... --> 
        
        <!-- css-библиотеки -->
        <!-- ... -->
        
        <!-- стили -->      
        <!-- ... -->
        
        <!-- js-библиотеки -->
        <!-- ... -->
        
        <!-- скрипты -->
        <!-- ... -->
    </head>

    <body class="_surApp _signFormLayout _pageReg">        
        <main class="_surApp__workarea">
            <div class="icontainer icontainer--bg_glass icontainer--dropshadow icontainer--size_big _signFormLayout__content _pageReg__content">
                <div class="icontainer__header">
                    <h1 class="caption _signFormLayout__caption">
                        <span class="caption__headline caption__headline--size_h1">Регистрация</span>
                    </h1>
                </div>
                <div class="icontainer__content">
                    <form action="" class="form _signFormLayout__form">
                        <div class="form__fieldBox">
                            <div class="form__fieldLabelWrap">
                                <label class="form__fieldLabel">Почта:</label>
                            </div>
                            <div class="form__fieldWrap">
                                <div class="form__field inputText">
                                    <input type="text" class="inputText__input" name="first_name" placeholder="" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="form__fieldBox">
                            <div class="form__fieldLabelWrap">
                                <label class="form__fieldLabel">Логин:</label>
                            </div>
                            <div class="form__fieldWrap">
                                <div class="form__field inputText">
                                    <input type="text" class="inputText__input" name="first_name" placeholder="" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="form__fieldBox">
                            <div class="form__fieldLabelWrap">
                                <label class="form__fieldLabel">Имя:</label>
                            </div>
                            <div class="form__fieldWrap">
                                <div class="form__field inputText">
                                    <input type="text" class="inputText__input" name="first_name" placeholder="" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="form__fieldBox">
                            <div class="form__fieldLabelWrap">
                                <label class="form__fieldLabel">Фамилия:</label>
                            </div>
                            <div class="form__fieldWrap">
                                <div class="form__field inputText">
                                    <input type="text" class="inputText__input" name="first_name" placeholder="" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="form__fieldBox">
                            <div class="form__fieldLabelWrap">
                                <label class="form__fieldLabel">Телефон:</label>
                            </div>
                            <div class="form__fieldWrap">
                                <div class="form__field inputText">
                                    <input type="text" class="inputText__input" name="phone" placeholder="" autocomplete="off" />
                                </div>
                                <div class="form__fieldNotification notification notification--lvl_error">
                                    <svg width="15" height="18" class="icon icon--size_small notification__icon" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0.683105 17.1582C1.03174 17.1582 1.31396 16.8843 1.31396 16.5356V11.9204C1.52148 11.8291 2.30176 11.5303 3.52197 11.5303C6.59326 11.5303 8.51904 13.0327 11.4409 13.0327C12.7358 13.0327 13.2173 12.8916 13.8481 12.6094C14.4209 12.3521 14.7944 11.9204 14.7944 11.1567V2.73145C14.7944 2.2832 14.4126 2.02588 13.9312 2.02588C13.5244 2.02588 12.7607 2.37451 11.333 2.37451C8.41113 2.37451 6.49365 0.87207 3.41406 0.87207C2.11914 0.87207 1.62939 1.01318 0.998535 1.29541C0.425781 1.55273 0.0522461 1.98438 0.0522461 2.73975V16.5356C0.0522461 16.876 0.342773 17.1582 0.683105 17.1582Z"/>
                                    </svg>
                                    <span class="notification__text">Поле заполнено неверно</span>
                                </div>
                            </div>
                        </div>
                        <div class="form__fieldBox">
                            <div class="form__fieldLabelWrap">
                                <label class="form__fieldLabel">Пароль:</label>
                            </div>
                            <div class="form__fieldWrap">
                                <div class="form__field inputText">
                                    <input type="password" class="inputText__input" name="phone" placeholder="" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="form__fieldBox">
                            <div class="form__fieldLabelWrap">
                                <label class="form__fieldLabel">Пароль (еще раз):</label>
                            </div>
                            <div class="form__fieldWrap">
                                <div class="form__field inputText">
                                    <input type="password" class="inputText__input" name="phone" placeholder="" autocomplete="off" />
                                </div>
                            </div>
                        </div>
                        <div class="form__buttonsBox">
                            <!-- Пока кнопка сделана ссылкой для навигации -->
                            <a href="/chats/" class="form__submitButton button button--importance_primary button--size_big button--width_full">Зарегистрироваться</a>
                            <a href="/authorization/" class="form__altSubmitLink link link--size_big">войти</a>
                        </div>
                    </form>
                </div>
            </div>
        </main>  
        <div class="_surApp__background _surApp__background--bg_image _signFormLayout__bg"></div>      
    </body>
</html>
