<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />

        <title>Ошибка 404</title>
        <meta name="description" content="" />
        <meta name="keywords" content="" />

        <!-- ################## Шаблон ################## -->

        <!-- шрифты -->
        <!-- ... -->

        <!-- css-библиотеки -->
        <!-- ... -->

        <!-- стили -->
        <link rel="stylesheet" href="draft.css" />
        <style type="text/css">
        </style>

        <!-- js-библиотеки -->
        <!-- ... -->

        <!-- скрипты -->
        <script type="text/javascript">
        </script>

        <!-- ################## Страница ################## -->
        
        <!-- шрифты -->
        <!-- ... --> 
        
        <!-- css-библиотеки -->
        <!-- ... -->
        
        <!-- стили -->      
        <!-- ... -->
        
        <!-- js-библиотеки -->
        <!-- ... -->
        
        <!-- скрипты -->
        <!-- ... -->
    </head>

    <body class="_surApp _errorPageLayout _pageError404">        
        <main class="_surApp__workarea">
            <div class="_errorPageLayout__content _pageError404__content">
                <div class="caption _errorPageLayout__caption">
                    <h1 class="caption__headline">404</h1>
                </div>
                <div>
                    <div class="text _errorPageLayout__descPhrase">Кажется, вы не туда попали...</div>
                    <div class="text _errorPageLayout__awayPhrase">Перейти <a href="/chats/" class="link">к чатам</a></div>
                </div>
            </div>
        </main>   
        <div class="_surApp__background _surApp__background--bg_image _errorPageLayout__bg"></div>       
    </body>
</html>