

$gray-90: #232526;
$gray-50: #797979;
$gray-10: #E5E5E5;
$gray-3: #F4F4F4;

$red: #F96057;
$blue: #007AFF;
$green: #5FCF65;
$orange: #F8A34D;
$gray-light: $gray-3;
$gray: $gray-10;
$gray-dark: $gray-50;

$primary-color: $blue;
$secondary-color: $gray;

$font-family: 'SF Pro Display';
$font-weights: ('Thin': 100, 'Light': 200, 'Regular': normal, 'Medium': 500, 'Semibold': 600, 'Bold': bold);