@use 'sass:map';

@import './vars';
@import '../../../lib/scss/mixins';


@each $name, $weight in $font-weights {
    @include font-face($font-family, '../../../../static/fonts/SFProDisplay/SFProDisplay-#{$name}', $weight, normal, eot woff2 woff ttf);
}

.icontainer {
    box-sizing: border-box;
    position: relative;
    background: white;
    border-radius: 8px;

    &__ {
        &header {
            border-radius: 8px 8px 0 0;
            padding: 10px 10px 0;
        }

        &content {
            padding: 10px;
        }

        &footer {
            padding: 0 10px 10px;
            border-radius: 0 0 8px 8px; 
        }
    }

    &-- {
        &bg_ {
            &glass {
                background: rgba(255, 255, 255, 0.25);
                background-blend-mode: luminosity;
                backdrop-filter: blur(40px);
            }
        }

        &size_ {
            &small {
                border-radius: 6px;

                > .icontainer__ {
                    &header {
                        border-radius: 6px 6px 0 0;
                        padding: 8px 8px 0;
                    }

                    &content {
                        padding: 8px;
                    }
                    
                    &footer {
                        padding: 0 8px 8px;
                        border-radius: 0 0 6px 6px; 
                    }
                }
            }
            
            &big {
                border-radius: 20px;

                > .icontainer__ {
                    &header {
                        border-radius: 20px 20px 0 0;
                        padding: 22px 22px 0;
                    }

                    &content {
                        padding: 22px;
                    }

                    &footer {
                        border-radius: 0 0 20px 20px;
                        padding: 0 22px 22px;
                    }
                }
            }
        }

        &dropshadow {
            box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);    
        }

        &bordered {
            border: 1px solid #eee;
        }
    }
}

.link {
    text-decoration: none;
    color: black;
    border-bottom: solid 1px rgba(0, 0, 0, 0.4);
    padding: 0 1px;

    &:hover {
        border-bottom-color: transparent !important;
    }
}

.text {
    font-size: 13px;
}

.badge {
    border-radius: 50%;
    color: white;
    background: black;
    display: inline-block;
    line-height: 21px;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
}

$caption-sizes: ('h1': 26px, 'h2': 18px, 'h3': 16px, 'h4': 13px, 'h5': 12px, 'h6': 11px);

._surApp {  
    display: flex;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    font: map.get($font-weights, 'Regular') normal 11px $font-family;
    color: $gray-90;

    &__ {
        &background {
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 0;

            &-- {
                &bg_ {
                    &color {
                        background: $gray-light;
                    }

                    &image {
                        background: $gray-light url('../../../../static/images/sur_bg.svg') center/cover no-repeat;
                    }

                    &animation {
                        background: $gray-light;
                    }
                }
            }
        }

        &workarea {
            margin: auto;
            z-index: 1;
        }
    }

    .caption__headline {   
        @include gen-props('&--size_', [font-size], $caption-sizes); 
        @include gen-props('&--weight_', [font-weight], $font-weights); 
    }

    .link {
        color: $primary-color;
        border-bottom-color: rgba($primary-color, 0.4);

        &-- {
            &size_ {
                &big {
                    font-size: 16px;
                    line-height: 15px;
                    font-weight: map.get($font-weights, 'Light');
                }
            }
        }
    }

    .button {
        &-- {
            &importance_ {
                &primary {
                    background: $primary-color;
                }

                &secondary {
                    background: $secondary-color;
                }
            }

            &size_ {
                &big {
                    font-size: 16px;
                    font-weight: map.get($font-weights, 'Light');
                }
            }
        }
    }

    .icon--color_blue {
        fill: $blue;
    }
    
    .icon--color_gray {
        fill: $gray;
    }
    
    .iconButton {
        &--importance_ {
            &primary {
                .iconButton__icon {
                    fill: $primary-color;
                } 
            }
           
            &secondary {
                .iconButton__icon {
                    fill: $gray-dark;
                } 
            } 
        }    
    }

    .inputImage {
        border-color: 1px dashed $gray-90;
    
        &__desc {
            font-weight: map.get($font-weights, 'Thin');
        }

        &--active {
            border-color: $gray-90;
        }
    }

    .form .notification {
        font-size: 14px;
        justify-content: center;
    }

    .notification--lvl_ {
        &error {
            color: $red;            
        }
    }

    .icontainer {
        &__ {
            &header {
                &--bg_grayLight {
                    background: $gray-light;
                }
            }

            &footer {
                &--bg_grayLight {
                    background: $gray-light;
                }
            }
        }

        &--bg_ {
            &glass {
                .caption,
                .form__fieldLabel { 
                    opacity: 0.85;
                }

                .notification { 
                    color: white;
                    opacity: 0.75;
                }

                .form__fieldLabel {
                    &__icon {  
                        fill: white;
                        opacity: 0.9;    
                    }
                }

                .notification {
                    &__icon {  
                        fill: white;
                        opacity: 0.9;    
                    }
                }

                .inputImage {            
                    border: 1px dashed rgba(white, 0.5);
    
                    &__desc { 
                        color: white;
                        opacity: 0.75; 
                    }
    
                    &--active {
                        background: rgba(white, 0.15);
                        border-color: white;
                    }
                }

                .link {
                    color: white;
                    opacity: 0.75;
                    border-bottom-color: rgba(white, 0.5);
                }                
            }

            &grayLight {
                background: $gray-light;

                .link {
                    color: $gray-90;
                    opacity: 0.75;
                    border-bottom-color: rgba($gray-90, 0.5);
                }
            }
        }
    }

    .message--of_you {
        background: $primary-color;
        color: white;
    }

    .badge {
        background: $primary-color;
    }

    .inputText--iconed .inputText__icon {
        fill: $gray-dark;
    }

    ._centeredMsgLayout__content {
        font-weight: map.get($font-weights, 'Thin');
    }
}
