
$gray-90: #232526;
$gray-50: #797979;
$gray-10: #e5e5e5;
$gray-3: #f4f4f4;

$red: #f96057;
$blue: #007aff;
$green: #5fcf65;
$orange: #f8a34d;
$gray-light: $gray-3;
$gray: $gray-10;
$gray-dark: $gray-50;

$primary-color: $blue;
$secondary-color: $gray;

$font-family: 'SF Pro Display';
$font-weights: ('Thin': 100, 'Light': 200, 'Regular': normal, 'Medium': 500, 'Semibold': 600, 'Bold': bold);
