@use 'sass:map';
@import '../../../main/vars';

.message {
    display: inline-block;
    max-width: 70%;
    min-width: 250px;

    &__ {
        &time {
            text-align: right;
        }

        &author {
            font-size: 14px;
            font-weight: map.get($font-weights, 'Medium');
        }
    }

    &-- {
        &of_ {
            &you {
                align-self: flex-start;
            }

            &chat {
                align-self: flex-end;
            }
        }
    }
}
