@import '../../../main/vars';

.message {
    display: inline-block;
    max-width: 70%;
    min-width: 100px;

    &__ {
        &time {
            text-align: right;
        }
    }

    &-- {
        &of_ {
            &you {
                align-self: flex-start;
            }

            &chat {
                align-self: flex-end;
            }
        }
    }
}
